.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Przyciski dotyczące menu */
.menu-buttons {
  background-color: #a83c34;
  color: white;
  padding: 12px 22px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.5s ease, transform 0.5s ease;
}
.menu-buttons:hover {
  background-color: green;
  transform: scale(1.2);
}
.menu-buttons:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(50,200,120,0.6);
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
